In [1]:
import pandas as pd

In [3]:
data = {'Name':['jai','princi','gaurav','anuj'],
       'height':[5.1,6.2,5.1,5.2],
       'quli':['msc','ma','msc','msc']}

In [4]:
data

{'Name': ['jai', 'princi', 'gaurav', 'anuj'],
 'height': [5.1, 6.2, 5.1, 5.2],
 'quli': ['msc', 'ma', 'msc', 'msc']}

In [5]:
#convert dict to dataframe
df = pd.DataFrame(data)

In [6]:
df

     Name  height quli
0     jai     5.1  msc
1  princi     6.2   ma
2  gaurav     5.1  msc
3    anuj     5.2  msc

In [7]:
add = ['delhi','beng','che','patna']
df['Address'] = add

In [8]:
print(df)

     Name  height quli Address
0     jai     5.1  msc   delhi
1  princi     6.2   ma    beng
2  gaurav     5.1  msc     che
3    anuj     5.2  msc   patna

Method #2: By using DataFrame.insert()

It gives the freedom to add a column at any position we like and not just at the end. It also provides different options for inserting the column values.

In [9]:
# Import pandas package 
import pandas as pd
  
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

In [10]:
df

     Name  Height Qualification
0     Jai     5.1           Msc
1  Princi     6.2            MA
2  Gaurav     5.1           Msc
3    Anuj     5.2           Msc

In [11]:
df.insert(2,"age",[21,23,24,21])
print(df)

     Name  Height  age Qualification
0     Jai     5.1   21           Msc
1  Princi     6.2   23            MA
2  Gaurav     5.1   24           Msc
3    Anuj     5.2   21           Msc

Method #3: Using Dataframe.assign() method

This method will create a new dataframe with a new column added to the old dataframe.

In [12]:
import pandas as pd
  
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
  
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

In [13]:
df2 = df.assign(address=['dehlhi','beng','che','patna'])
print(df2)

     Name  Height Qualification address
0     Jai     5.1           Msc  dehlhi
1  Princi     6.2            MA    beng
2  Gaurav     5.1           Msc     che
3    Anuj     5.2           Msc   patna

## Map function

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)
# map(fun, iter)

In [14]:
# Python program to demonstrate working
# of map.
  
# Return double of n
def addition(n):
    return n+n

In [15]:
numbers = (1,2,3,4)
result = map(addition,numbers)
print(list(result))

[2, 4, 6, 8]

We can also use lambda expressions with map to achieve above result.

In [16]:
numbers = (1,2,3,4)
res = map(lambda x: x+x, numbers)
print(list(res))

[2, 4, 6, 8]

In [17]:
# Add two lists using map and lambda
  
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
  
result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [18]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']
test = map(list,l)
print(test)

<map object at 0x0000022B188B0A00>

In [19]:
# function that filters vowels
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False

In [21]:
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']

In [23]:
filtered = filter(fun,sequence)

print("the filtered letters are: ")
for s in filtered:
    print(s)

the filtered letters are:
e
e

In [24]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
res = filter(lambda x: x%2 !=0, seq)
print(list(res))

[1, 3, 5, 13]

In [25]:
res1 = filter(lambda x: x%2==0, seq)
print(list(res1))

[0, 2, 8]

In [26]:
# Python3 code to iterate over a list
list = [1, 3, 5, 7, 9]
   
# Using for loop
for i in list:
    print(i)

1
3
5
7
9

## For loop and range()

In [28]:
list = [1, 3, 5, 7, 9]
length = len(list)

for i in range(length):
        print(list[i])

1
3
5
7
9

Using while loop

In [30]:
# Python3 code to iterate over a list
list = [1, 3, 5, 7, 9]
length = len(list)
i =0
while i < len(list):
    print(list[i])
    i = i + 1

1
3
5
7
9

In [32]:
# Python3 code to iterate over a list
list = [1, 3, 5, 7, 9]

# using list comprehension
[print(i) for i in list]

1
3
5
7
9

[None, None, None, None, None]

#5: Using enumerate()

In [33]:
# Python3 code to iterate over a list
list = [1, 3, 5, 7, 9]

for i, val in enumerate(list):
    print(i,",",val)

0 , 1
1 , 3
2 , 5
3 , 7
4 , 9

## Function

Class Definition Syntax:

class ClassName:
    # Statement
    
Object Definiation Syntax: 
obj = ClassName()
print(obj.atrr)

In [34]:
# Python3 program to
# demonstrate instantiating
# a class
 
 
class Dog:
 
    # A simple class
    # attribute
    attr1 = "mammal"
    attr2 = "dog"
 
    # A sample method
    def fun(self):
        print("I'm a", self.attr1)
        print("I'm a", self.attr2)
 
 
# Driver code
# Object instantiation
Rodger = Dog()
 
# Accessing class attributes
# and method through objects
print(Rodger.attr1)
Rodger.fun()

mammal
I'm a mammal
I'm a dog

In [3]:
class dog:
    
    attr1 = 'mamal'
    attr2 = 'dog'
    
    def fun(self):
        print("I am a ", self.attr1)
        print("I am a ",self.attr2)
rodger = dog()

print(rodger.attr1)
rodger.fun()

mamal
I am a  mamal
I am a  dog

In [4]:
 # A sample class with init method
class person:
    def __init__(self,name):
        self.name = name
    
    # sample method
    def say_hi(self):
        print('Hello, my name is',self.name)
        
p = person("Sana")
p.say_hi()

Hello, my name is Sana

In [12]:
# Python3 program to show that the variables with a value
# assigned in the class declaration, are class variables and
# variables inside methods and constructors are instance
# variables.
 
# Class for Dog

class Dog:
    # class variable
    animal = 'dog'
    
    # The init method or costructor
    def __init__(self,breed,color):
        
        # Instance variable
        self.breed = breed
        self.color = color
          
    
#Objects of dog class
rodger =Dog("pug","brown")
buzo = Dog("bulldog","black")

print('Rodger details:')
print('Rodger is a', rodger.animal)
print('Breed: ', rodger.breed)
print('Color: ', rodger.color)

print('\nBuzo details:')
print('Buzo is a', buzo.animal)
print('Breed: ', buzo.breed)
print('Color: ', buzo.color)

# Class variables can be accessed using class
# name also
print("\nAccessing class variable using class name")
print(Dog.animal)

Rodger details:
Rodger is a dog
Breed:  pug
Color:  brown

Buzo details:
Buzo is a dog
Breed:  bulldog
Color:  black

Accessing class variable using class name
dog

Defining instance variables using the normal method.

In [13]:
class Dog:
    animal = 'dog'
    
    def __init__(self,breed):
        self.breed = breed
        
    def setcolor(self,color):
        self.color = color
    
    def getcolor(self):
        return self.color
    
rodger = Dog("pug")
rodger.setcolor("brown")
print(rodger.getcolor())

brown

In [14]:
class GeekforGeeks:
# default constructor
def __init__(self):
    self.geek = "GeekforGeeks"

# a method for printing data members
def print_Geek(self):
    print(self.geek)


# creating object of the class
obj = GeekforGeeks()

# calling the instance method using the object obj
obj.print_Geek()

GeekforGeeks

In [15]:
class Addition:
first = 0
second = 0
answer = 0

# parameterized constructor
def __init__(self, f, s):
    self.first = f
    self.second = s

def display(self):
    print("First number = " + str(self.first))
    print("Second number = " + str(self.second))
    print("Addition of two numbers = " + str(self.answer))

def calculate(self):
    self.answer = self.first + self.second

# creating object of the class
# this will invoke parameterized constructor
obj = Addition(1000, 2000)

# perform Addition
obj.calculate()

# display result
obj.display()

First number = 1000
Second number = 2000
Addition of two numbers = 3000

In [16]:
class Person(object):
   
  # Constructor
  def __init__(self, name, id):
    self.name = name
    self.id = id
 
  # To check if this person is an employee
  def Display(self):
    print(self.name, self.id)
 
 
# Driver code
emp = Person("Satyam", 102) # An Object of Person
emp.Display()

Satyam 102

In [17]:
class Emp(Person):
   
  def Print(self):
    print("Emp class called")
     
Emp_details = Emp("Mayank", 103)
 
# calling parent class function
Emp_details.Display()
 
# Calling child class function
Emp_details.Print()

Mayank 103
Emp class called

##  Polymorphism in Python

In [18]:
def add(x, y, z = 0):
    return x + y+z
 
# Driver code
print(add(2, 3))
print(add(2, 3, 4))

5
9

# Polymorphism in python defines methods in the child class that have the same name as the methods in the parent class. In inheritance, the child class inherits the methods from the parent class. Also, it is possible to modify a method in a child class that it has inherited from the parent class.